name: Classroom Autograding

on:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Echo de prueba
        run: |
          echo "Esto-y hasta los huevos"
   # steps:
   # - uses: actions/checkout@v3

   # - name: Set up JDK 17
   #   uses: actions/setup-java@v3
   #   with:
   #     java-version: '17'
   #     distribution: 'temurin'

   # - name: Run Maven tests
   #   run: mvn -B test --file pom.xml

        
